/* Página editar perfil --------------- */
.pagina-editar-perfil {
  width: 100%;
  min-height: 55vh;
  padding: 3rem 8rem 0;
  display: flex;
  gap: 1rem;
}
.infos-atuais {
  width: 15rem;
  height: fit-content;
  padding: 3rem 1rem;
  background-color: #ffffff;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.foto-usuario {
  width: 8rem;
  border: 3px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 .5rem .5rem #24043D3A;
  object-fit: cover;
}
.informacoes {
  width: 100%;
  text-align: center;
}
.email {
  font-size: .85rem;
  margin-top: .5rem;
}
.form-editar-perfil {
  width: 100%;
  max-width: 100%;
  border-radius: .5rem;
  background-color: #ffffff;
}
.form-inline {
  flex-direction: row;
}
.input-file {
  width: fit-content;
  text-align: center;
  height: fit-content;
  display: inline-block;
  cursor: pointer;
  padding: .5rem 2rem;
  transition: background-color 300ms ease,
  border-color 300ms ease,
  color 300ms ease;
}
.fundo-verde {
  background-color: #63c420;
  border-color: #29a216;
  color: var(--branco);
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.deletar-usuario {
  width: 100%;
  color: var(--branco);
  font-weight: 700;
  background-color: var(--erro);
  border: none;
  border-radius: 5rem;
  padding: .75rem;
  cursor: pointer;
}
.modal-deletar {
  background-color: #FFFFFF;
  padding: 2em;
  box-shadow: 0 0 0 200rem #0000005a;
  border-radius: .75em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}
.show-modal {
  opacity: 1;
  pointer-events: auto;
}
.confirmacao {
  font-size: 1.5rem;
  font-weight: 700;
}
.aviso {
  color: var(--erro);
}
.modal-deletar .btn-container {
  margin-top: 2em;
}
.modal-deletar .deletar-usuario {
  width: fit-content;
}
.perfil-avaliacoes-container {
  width: 100%;
  border-radius: .5rem;
  background-color: #FFFFFF;
  padding: 1.5rem;
}
.perfil-avaliacoes-container .titulo {
  padding-bottom: .5rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--cinza-escuro);
}
.nome-nota {
  position: relative;
}
