@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import "pagina_principal.css";
@import "mais_populares.css";
@import "pagina_bar.css";
@import "pagina_lista_bares.css";
@import "pagina_registro_login.css";
@import "pagina_editar_perfil.css";
@import "pagina_novo_review.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
:root {
  --branco: #f2f3f6;
  --cinza: #e8eaee;
  --cinza-escuro: #c7cace;
  --verde: #A2E13A;
  --roxo: #7700D4;
  --preto: #24043D;
  --erro: #b02525;
}
body {
  background-color: var(--branco);
  color: var(--preto);
  padding-top: 5rem;
}
a {
  color: var(--preto);
}
.pt-pagina {
  padding-top: 4.8rem;
}
.header-container {
  width: 100%;
  height: fit-content;
  padding: 1rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cinza);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: fixed;
  top: 0;
}
.header-container i {
  margin-right: .25rem;
}
.sombra {
  box-shadow: 0 6px 20px #1D31543A;
}
.glup-nome-header {
  width: 10rem;
}
.usuario-icone {
  font-size: 1.5rem;
  transition: transform 300ms ease, color 300ms;
}
.usuario-icone:hover {
  transform: scale(1.2);
  color: var(--roxo);
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.btn {
  width: fit-content;
  outline: none;
  border: none;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  cursor: pointer;
  text-decoration: none;
  transition: transform 300ms ease;
}
.btn-scale:hover {
  transform: scale(1.05);
}
.btn-verde {
  font-weight: 700;
  background-color: var(--verde);
  color: var(--branco);
}
.btn-roxo {
  font-weight: 700;
  background-color: var(--roxo);
  color: var(--branco);
}
.btn-nova-review {
  border: 2px solid var(--roxo);
  color: var(--roxo);
  padding: .4rem .8rem;
}

/* Footer --------------- */
footer {
  width: 100%;
  height: 15rem;
  padding: 0 8rem;
  margin-top: 3rem;
  background-color: var(--preto);
  display: flex;
  align-items: center;
  position: relative;
}
.logo-footer {
  width: 15rem;
  filter: brightness(0) invert(1);
}
.copy-footer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}
